<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans">

body {
  background-color: Ivory;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  color: DarkSlateGray;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 4em;
  color: DarkSlateBlue;
}

h2 {
  font-family: Oswald, sans-serif;
  font-size: 3em;
  color: Black;
}

h3 {
  font-family: Oswald, sans-serif;
  font-size: 2em;
  color: Black;
}

p {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: DarkSlateGray;
}

a {
  color: black;
}

#band_name, your_horiscope {
  color: RebeccaPurple;
  font-size: 2em;
}
