<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans">

body {
  background-color: #FFFFF0;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  color: #2F4F4F;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 3em;
  color: #483D8B;
}

h2 {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: #2F4F4F;
}

h3 {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: #2F4F4F;
}

p {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: #2F4F4F;
}

a {
  color: #2F4F4F;
}

#band_name {
  color: #9932CC;
  font-size: 1em;
}

#your_horiscope {
  color: #9932CC;
  font-size: 1em;
}

div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:33%;
  height:50px;
  float:left;
  text-align:center;
  font-size:2em;
}
