<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Noto+Sans">

body {
  background-color: #FFFFF0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  color: #2F4F4F;
}

h1 {
  font-family: Oswald, sans-serif;
  font-size: 3em;
  color: #483D8B;
}

h2 {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: black;
}

h3 {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: black;
}

p {
  font-family: Oswald, sans-serif;
  font-size: 1em;
  color: #2F4F4F;
}

a {
  color: #2F4F4F;
}

#band_name {
  color: #663399;
  font-size: 1em;
}

#your_horiscope {
  color: #663399;
  font-size: 1em;
}

